.espace {
    padding-top: 1rem;
}

.logo {
    height: 50px;
    width: 50px;
}

.logo2 {
    height: 100px;
    width: 200px;
}

body {
    background-color: rgb(186, 189, 194);
}

header {
    height: 15vh;
    padding-top: 1rem;
    font-family: 'Lobster', cursive;
}

.header2 {
    text-align: center;
    
}

.center {
    text-align: center;
    padding: 2rem;
}

.footer1 {
    padding: 1rem;
}

footer {
    margin-top:2rem; 
    justify-content: end;
    background-color: #1c1d26;
    height: 11vh;
    font-family: 'Indie Flower', cursive;
    color: beige;
}

.subheader {
    padding-top: 2rem;
}

#cuerpo {  
    font-family: 'Indie Flower', cursive;    
}

.iker{
    height: 66vh;
}

.color {
    color: darkcyan;
    font-style: italic;
}

.Patrick {
    color: grey;
    padding-left: 1rem;
}

.luis {
    display: flex;
    flex-direction: row;
}

.nerea {
    color: white;
}

.nerea:hover {
    background-color: pink;
}

.alto {
    margin-top: 3%;
}

.tabulador {
    overflow: hidden;
    text-align: center; 
}

.tabulador button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    transition: 0.3s;
    color:#57889b;
}

.tabulador button:hover {
    background-color: rgb(243, 114, 114);
  }
  
  .tabulador button.active {
    background-color: rgb(77, 131, 86);
  }
  
.cuadro {
    border: 2px solid black;
    animation: fadeEffect 1s;
    background-color: rgb(204, 218, 218);
    border-radius: 6px;
    font-family: 'Lobster', cursive;
    min-width: 300px;
    margin: 10px;
    padding: 1rem;
    display: none;
}

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
