.espace {
    padding-top: 1rem;
}

.logo {
    height: 50px;
    width: 50px;
}

.logo2 {
    height: 100px;
    width: 200px;
}

body {
    background-color: rgb(186, 189, 194);
}

header {
    height: 15vh;
    padding-top: 10px;
    font-family: 'Lobster', cursive;
}

.header2 {
    text-align: center;
    
}

.center {
    text-align: center;
    padding: 20px;
}

.footer1 {
    padding: 10px;
}

footer {
    background-color: #1c1d26;
    height: 11vh;
    font-family: 'Indie Flower', cursive;
    color: beige;
}

#cuerpo {  
    font-family: 'Indie Flower', cursive;    
}

.iker{
    height: 66vh;
}

.nerea {
    color: white;
}

.nerea:hover {
    background-color: pink;
}

.alto {
    margin-top: 3%;
}

.tabulador {
    border: 2px solid black;
    overflow: hidden;
}

.tabulador button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px;
    transition: 0.3s;
    color:#57889b;
}

.tabulador button:hover {
    background-color: rgb(243, 114, 114);
  }
  
  .tabulador button.active {
    background-color: rgb(77, 131, 86);
  }
  

.links {
    background-color: palegreen;
}

.cuadro {
    border: 2px solid black;
    animation: fadeEffect 1s;
    background-color: rgb(77, 131, 86);
}

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.rectangulo {
    border:  2px solid black;
    animation: fadeEffect 1s;
    background-color: rgb(243, 114, 114);
}